body {
  background-color: black;
}
* {
  color: white;

  font-family: "Courier New", Courier, monospace\;;
}
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(29, 28, 28);
  padding: 40px;
  margin: 10% 25%;
  border: none;
  border-radius: 10px;
}
img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.name {
  font-size: xx-large;
  font-weight: 900;
}
.location {
  color: greenyellow;
  font-size: larger;
}
.job-title {
  font-size: 15px;
}
a {
  text-decoration: none;
  background-color: rgb(67, 67, 67);
  font-size: 20px;
  font-weight: 700;
}
button {
  background-color: rgb(67, 67, 67);
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  padding: 30px 10px;
  width: 30rem;
}
@media (max-width: 1000px) {
  button {
    width: 10rem;
  }
}
